<div class="showcase">
  <div class="overlay">
    <div class="container">
      <div class="row"></div>
    </div>
  </div>
</div>
<mat-horizontal-stepper [linear]="isLinear" #stepper>
  <!-- keep icons as numbers during edit-->
  <!--
  <ng-template matStepperIcon="edit" let-index="index">
		{{index +1}}
	</ng-template>
  -->

  <!-- change default 'edit' icon -->
  <ng-template matStepperIcon="edit">
    <mat-icon>bubble_chart</mat-icon>
  </ng-template>

  <!-- change default 'done' icon -->
  <!--
  <ng-template matStepperIcon="done">
		<mat-icon>done_all</mat-icon>
	</ng-template>
  -->

  <!-- changed step icons -->
  <ng-template matStepperIcon="home">
    <mat-icon>home</mat-icon>
  </ng-template>
  <ng-template matStepperIcon="form">
    <mat-icon>format_align_center</mat-icon>
  </ng-template>
  <ng-template matStepperIcon="last">
    <mat-icon>done_all</mat-icon>
  </ng-template>

  <mat-step label="Users" state="home">
    <div>
      <button mat-button matStepperNext>Continue</button>
    </div>
  </mat-step>

  <mat-step label="Posts" state="form">
    <form [formGroup]="formGroup">
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>

  <mat-step label="Photos" state="last">
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button (click)="stepper.reset()">Reset</button>
    </div>
  </mat-step>
</mat-horizontal-stepper>
